---
layout: default
---

<div style="display: flex; gap: 30px;">
  <main style="flex: 2;">
    <div class="home">
      <h1 class="page-heading">Posts</h1>

      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            {% if post.featured_image %}
              <img src="{{ post.featured_image }}" alt="{{ post.title }}" />
            {% endif %}
            
            {% if post.categories %}
              <div class="post-categories">
                {% for category in post.categories %}
                  <a href="{{ '/categories/#' | relative_url }}{{ category | slugify }}" class="post-category">{{ category }}</a>
                {% endfor %}
              </div>
            {% endif %}

            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
            
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            
            <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
            
            <a href="{{ post.url | relative_url }}" class="post-read-more">Read More</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </main>

  <aside style="flex: 1;">
    {% include sidebar.html %}
  </aside>
</div>
